@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --mainBlue: #2a2a7a;
  --lightBlue: #009ffd;
  /* --mainWhite: #f3f3f3; */
  --mainWhite: #fff;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}
.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
body {
  /* font-family: "Oswald", sans-serif !important; */
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
  font-family: "Montserrat", sans-serif !important;
  font-size: none;
}

.text-title {
  letter-spacing: 0.3rem;
}

.text-blue {
  color: var(--mainBlue);
}

.btn-black {
  background: transparent;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.slider-container {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  width: 70%;
}
.slider-overlay.show {
  animation: slideInUp ease 3s;
}

.box {
  background: #ffffff;
  text-align: center;
  border: 1px solid rgba(97, 119, 152, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  :first-child {
    padding: 20px 0;
  }
  :last-child {
    padding: 0 26px;
  }
}

.slider {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  button {
    background-color: inherit;
  }
}

.card {
  height: 100%;
  justify-content: space-between;
}

.card-visit {
  transition: all ease 0.3s;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

.card-visit:hover {
  transform: scale(1.05);
}

.hover-up {
  transition: all ease 0.3s;
}

.hover-up:hover {
  transform: translateY(-15px);
}

@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translate(-50%, 30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
