:root {
  --mainBlue: #2a2a7a;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: "Permanent Marker", cursive;
  letter-spacing: .3rem;
  /* text-transform: uppercase; */
}

.text-blue {
  color: var(--mainBlue);
}

.btn-black {
  background: transparent;
  font-size: 0.8rem !important;
  color: var(--mainDark); 
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important; 
}

.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}

.slider-container {
  height: 500px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.slider-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;

}
.slider-overlay.show{
  animation: fadeIn 3s;

}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translate(-30%,-30%);
  }
  100% {
    opacity: 1;
    transform: translate(-50%,-50%);
  }
}